.amenities {
	margin: 20rem 0 15rem 0;
}

.amenities--title {
	display: flex;
	flex-direction: column;
	gap: 2rem;
}

.amenities--title-title {
	font-size: 5rem;
	font-weight: 800;
}

.amenities--title-underline {
	background-color: var(--primary-600);
	height: 3px;
	width: 830px;
	margin-left: -13%;
}

.amenities-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	gap: 3rem;
	margin-left: 13%;
	margin-top: 3rem;
}

.amenity-card {
	display: flex;
	flex-direction: column;
	gap: 1.8rem;
	align-items: flex-start;
	padding: 2rem;
	width: 600px;
}
.fa-icon {
	background-color: var(--primary-600);
	min-height: 60px;
	width: 60px;
	padding: 25px;
	border-radius: 50%;
	font-size: 0.5rem;
	color: var(--background);
}

.amenity-card-title {
	font-size: 3rem;
}

.amenity-card-description {
	font-size: 1.7rem;
	line-height: 1.2;
	font-family: "Poppins";
	color: var(--gray-600);
	font-weight: 500;
	hyphens: none;
}
